.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.app-list{
  list-style: none;
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  grid-gap: 30px;



}
